{% load quiz %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
        <script type="text/javascript" src="{{STATIC_URL}}jquery-1.9.0.min.js"></script>

        <!-- default quiz styling -->
        <link rel="stylesheet" href="{{STATIC_URL}}css/quiz.css" >        

        <!-- need this for quiz to work -->
        <script type="text/javascript" src="{{STATIC_URL}}js/quiz.js"></script>

    </head>
    <body>
        <div class="layout">
            <h1>Quiz Demo</h1>
            <p>&nbsp;</p>

    		{% quiz 'Quiz 1' %}					

        </div>
    </body>
</html>